# pip install -r requirements.txt
# python3.8 environment

PyYAML>=5.3.1
scipy>=1.4.1
addict>=2.4.0
pycocotools>=2.0
onnx>=1.10.0  # ONNX export
onnxsim>=0.4.1 # ONNX simplifier
thop  # FLOPs computation
